@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    text-align: center;
    /* background-image: url('./img/lamd.jpg'); */

}

header {
    height: 90px;
    background-color: #6200EE;
}

header>h1 {
    padding: 20px;
    color: white;
    text-transform: uppercase;
}
.gameContainer{
    width: 700px;
    height: 500px;
    padding: 20px;
    margin: 35px auto;
    /* background: rgb(2, 2, 1); */
    /* background-image: url('./img/m1.gif'); */

}
.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cell {
    display: inline-block;
    height: 40px;
    width: 40px;
    /* border: 1px solid black; */
}

[data-type="W"]{
    /* background-color: #044D9E; */
    background-image: url('./img/g5.jpeg');
    background-size: cover;
}
[data-type=" "]{
    /* background-color: transparent; */
    background-image: url('./img/land2.png');
    background-size: contain;
}
[data-type="S"]{
	/* position: relative;
    background-color: rgb(21, 255, 0); */
    background-image: url('./img/c3.png');
    background-size: cover;
}
[data-type="F"]{
	background-color: rgb(255, 0, 0);
}
[data-type="B"]{
    /* background-color: rgb(255, 0, 0); */
    background-image: url('./img/box.png');
    background-size: contain;
}
[data-type="O"]{
    background-color: rgb(231, 180, 12);
    border-radius: 50%;
}
.gameOver {
    display: none;
    width: 450px;
    top: 35%;
    background-color: rgba(214, 218, 215, 0.8);
    position: absolute;
    left: 40%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: rgb(12, 11, 11);
    font-size: 2em;
}
button {
    cursor: pointer;
    margin-top: 18px;
    padding: 13px;
    font-size: 25px;
    background-color: rgb(175, 175, 179)
}

footer{
    text-align: center;
    height: 100px;
    /* background-color: #6200EE; */
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
}
.arrow{
    font-size: 100px;
}